/*Fontes*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
/*Regras CSS*/
body {
  background: url(../img/background.jpg);
  background-size: cover;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.col-flex {
  display: flex;
  flex-wrap: wrap;
}
.col-33 {
  flex: 0 0 33%;
  max-width: 33%;
  position: relative;
  width: 100%;
}
.col-50 {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
}
.col-100 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
}
.form-txt {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  display: block;
  font-size: 1rem;
  height: calc(2rem);
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
}
.form-txt-40 {
  width: 40%;
}
.form-txt-80 {
  width: 80%;
}
.form-txt-90 {
  width: 90%;
}
.form-sl {
  background: rgba(1, 71, 140, 0.95);
  border: 1px solid #01478c;
  border-radius: 0.25rem;
  color: #fff;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  height: calc(2.85rem);
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
}
.form-sl-80 {
  width: 85%;
}
.wrapper {
  height: 385px;
  margin: 80px auto 0;
  width: 940px;
}
.rotulo {
  background: rgba(0, 114, 200, 0.95);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  display: block;
  font-size: 15px;
  height: 20px;
  padding: 10px 30px;
  width: 135px;
}
.busca {
  background: rgba(0, 114, 200, 0.95);
  border-top-right-radius: 0.25rem;
  height: 285px;
  padding: 20px 10px 20px 30px;
  position: relative;
  width: 940px;
}
.busca .col-flex h2 {
  margin-top: 0;
}
.busca .col-flex .econometro {
  margin-right: 40px;
  position: absolute;
  right: 0;
}
.busca .col-flex label {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 10px;
  width: auto;
}
.busca .col-flex .ida-volta {
  margin-bottom: 10px;
}
.busca .col-flex .ida-volta label {
  font-size: 13px;
}
.busca .col-flex .ida-volta input {
  margin-top: 1px;
  vertical-align: middle;
}
.busca .col-50 .origem {
  margin: 0 0 20px;
}
.busca .col-50 .destino {
  margin: 0 0 20px;
}
/* Autocomplete */
.list-group {
  background: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 13px;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 999;
  width: 95%;
}
.list-group .list-group-item {
  color: #01478c;
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: 5px;
}
.list-group .list-group-item:hover {
  background: #ced4da;
}
/* Botão */
.pesquisar {
  background: #4db101;
  color: #fff;
  display: block;
  font-size: 20px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.opcoes {
  display: none;
}
@media (max-width: 768px) {
  html,
  body {
    margin: 0;
    padding: 0;
  }
  .wrapper {
    height: auto;
    margin: 0;
    width: 100%;
  }
  .rotulo {
    background: #01478c;
    border-radius: 0;
    font-size: 18px;
    padding: 15px 0;
    text-align: center;
    width: auto;
  }
  .busca {
    border-radius: 0;
    height: auto;
    margin: 0;
    padding: 0 0 20px 20px;
    width: auto;
  }
  .busca .col-flex h2 {
    display: none;
  }
  .busca .col-flex .econometro {
    display: none;
  }
  .busca .col-flex .ida-volta {
    margin: 10px 0;
  }
  .busca .col-flex .col-50 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .busca .col-flex .col-25 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .busca .col-33 {
    margin: 20px 0 0;
  }
  .opcoes {
    display: block;
    margin: 20px 0 0;
  }
  .opcoes a {
    color: #fff;
    text-decoration: none;
  }
  .pesquisar {
    width: auto;
  }
}
