<!DOCTYPE html>
<html ng-app="httpApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ViajaNet - Passagens Aéreas com economia garantida!</title>
	<link rel="stylesheet/less" type="text/css" href="css/styles.less" />
	<script src="js/lib/less.min.js" ></script>
	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/xml2json.min.js"></script>
	<script src="js/controllers/main.js"></script>
</head>
<body>
	<div class="wrapper" ng-controller="httpController">
		<span class="rotulo">Passagens Aéreas</span>
		<section class="busca">
			<div class="col-flex">
				<h2>Encontre os melhores preços e boa viagem!</h2>
				<img class="econometro" src="img/econometro.png" alt="Economia Garantida" />
				<div class="col-100 ida-volta">
					<input type="radio" name="ida-volta" id="ida-volta" />
					<label for="ida-volta">Ida e Volta</label>
				</div>
				<div class="col-50">
					<div class="col-100 origem">
						<label for="origem">Origem</label>
						<input type="text" name="origem" id="origem" class="form-txt form-txt-90" autofocus autocomplete="off" ng-keyup="completeOrigem(obj.locationOrigem)" ng-model="obj.locationOrigem" placeholder="Cidade ou aeroporto" />
						<ul ng-hide="hideAutocompleteOrigem" class="list-group">
							<li class="list-group-item" ng-click="obj.locationOrigem = lOrigem; hideAutoOrigem(true);" ng-repeat="lOrigem in filterOrigens">
								{{lOrigem}}
							</li>
						</ul>
					</div>
				</div>
				<div class="col-50">
					<div class="col-100 destino">
						<label for="destino">Destino</label>
						<input type="text" name="destino" id="destino" class="form-txt form-txt-90" autofocus autocomplete="off" ng-keyup="completeDestino(obj.locationDestino)" ng-model="obj.locationDestino" placeholder="Cidade ou aeroporto" />
						<ul ng-hide="hideAutocompleteDestino" class="list-group">
							<li class="list-group-item" ng-click="obj.locationDestino = lDestino; hideAutoDestino(true);" ng-repeat="lDestino in filterDestinos">
								{{lDestino}}
							</li>
						</ul>
					</div>
				</div>
				<div class="col-50">
					<div class="col-flex">
						<div class="col-50 col-25">
							<label for="data-ida">Data de Ida</label>
							<input type="text" name="data-ida" id="data-ida" class="form-txt form-txt-80" placeholder="Data de Ida" />
						</div>
						<div class="col-50 col-25">
							<label for="data-ida">Data de Volta</label>
							<input type="text" name="data-volta" id="data-volta" class="form-txt form-txt-80" placeholder="Data de Volta" />
						</div>
					</div>
				</div>
				<div class="col-50">
					<div class="col-flex">
						<div class="col-33">
							<label for="adultos">Adultos</label>
							<select name="adultos" id="adultos" class="form-sl form-sl-80">
								<option value="1">1 Adulto</option>
								<option value="2">2 Adultos</option>
							</select>
						</div>
						<div class="col-33">
							<label for="criancas">Crianças</label>
							<select name="criancas" id="criancas" class="form-sl form-sl-80">
								<option value="">Nenhuma</option>
								<option value="1">1</option>
								<option value="2">2</option>
							</select>
						</div>
						<div class="col-33">
							<label for="bebes">Bebês</label>
							<select name="bebes" id="bebes" class="form-sl form-sl-80">
								<option value="">Nenhum</option>
								<option value="1">1</option>
								<option value="2">2</option>
							</select>
						</div>
					</div>
				</div>
				<div class="opcoes">
					<a href="javascript:;">+ Opções de busca</a>
				</div>
			</div>
		</section>
		<a href="javascript:;" class="pesquisar">Pesquisar</a>
	</div>
</body>
</html>